body {
    background-color: beige;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin: 0;

}

#nav, #footer {
    background-color: beige;
    padding: 1em;
}


#content {
    margin-left: 3em;

}